<template>
  <div class="navbar bg-blue-900 flex w-full h-full sm:flex-none">
    <div class="grid grid-row-2 gap-4">
      <img
        src="~/static/1.jpg"
        alt=""
        class="w-40 h-auto rounded-full mt-16 ml-64"
      />
      <div class="bg-red-100 w-72 h-40 shadow-2xl ml-52 mb-4 leading-loose">
        <h4 class="text-center text-blue-800 font-bold mt-2">
          sahebeh sadollahi
        </h4>
        <p class="text-center capitalize">front end developer</p>
        <nuxt-link to="#"
          ><p
            class="
              text-center text-black-100
              font-bold
              hover:opacity-75 hover:underline
            "
          >
            sadollahi7264@gmail.com
          </p></nuxt-link
        >
        <nuxt-link to="#"
          ><p
            class="
              text-center
              font-bold
              uppercase
              text-blue-600
              shadow
              hover:opacity-75 hover:underline
            "
          >
            download rezome
          </p></nuxt-link
        >
      </div>
    </div>
    <div class="title mt-40 ml-80 mr-8">
      <h class="font-bold text-white p-4 ml-4 text-2xl flex cursor-auto"
        >Hi, my name is

        <h1
          class="
            italic
            text-white
            mt-2
            ml-4
            cursor-auto
            leading-3
            tracking-tighter
            font-bold
            text-4xl
            font-serif
            hover:text-red-500
          "
        >
          sahebeh
        </h1>
      </h>
      <p class="font-bold leading-10 tracking-normal text-white">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam itaque
        iusto nulla vel necessitatibus ipsa in cupiditate, ab fugit sed, sit
        blanditiis mollitia qui sapiente odio molestiae ratione consequuntur
        laboriosam quibusdam eos. Unde odio harum soluta totam, ad minima id
        voluptates necessitatibus labore voluptate? Velit nihil laboriosam atque
        similique sunt?
      </p>
      <div class="mt-8">
        <button
          class="
            capitalize
            m-2
            px-4
            py-2
            text-white
            bg-pink-500
            rounded
            font-bold
          "
        >
          view profile
        </button>
        <button
          class="
            capitalize
            m-2
            px-4
            py-2
            rounded
            border-2 border-red-400
            text-red-400
            font-bold
          "
        >
          contact me
        </button>
      </div>
    </div>
  </div>
</template>
