
<template>
<div class="mainFooter w-screen h-20 bg-pink-500 flex">
<p class="justify-start p-4 font-bold text-white flex justify-between">sahebeh sadollahi</p>

</div>
</template>

<script>

</script>
