<template>
  <div class="mainHeader  w-screen h-16 bg-green-700 text-white p-4 pr-44">
    <ul class=" sm:hidden flex justify-end ">
      <li class="mr-16 hover:underline hover:text-black">
        <nuxt-link to="#">home</nuxt-link>
      </li>
      <li class="mr-16 hover:underline hover:text-black">
        <nuxt-link to="#">about</nuxt-link>
      </li>
      <li class="mr-16 hover:underline hover:text-black">
        <nuxt-link to="#">works</nuxt-link>
      </li>
      <li class="mr-16 hover:underline hover:text-black">
        <nuxt-link to="#">contact</nuxt-link>
      </li>
    </ul>
    <img src="~/static/2561466_menu_icon.png" alt="" class="w-8 h-8 float-right">
  </div>
</template>

<style>

</style>
